.Auth {
  background: white;
  border: 1px solid #DBDBDB;
  padding: 50px;
  width: 260px;
}

.blockAuth {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toReg {
  margin-top: 10px;
  background: white;
  border: 1px solid #DBDBDB;
  padding: 13px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 335px;
  text-align: center;
}

.dio {
  text-align: center;
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 50px;
}

.username {
  background: #FAFAFA;
  width: 245px;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 5px;
  margin-bottom: 10px;
  border: 1px solid #DBDBDB;
}

.password {
  background: #FAFAFA;
  width: 170px;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 5px;
  margin-bottom: 10px;
  border: 1px solid #DBDBDB;
  border-right: none;
}

.showBtn {
  width: 75px;
  height: 34px;
  outline: none;
  border: none;
  border: 1px solid #DBDBDB;
  background: #FAFAFA;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-left: none;
}

.btn {
  color: white;
  background-color: #0095F6;
  width: 250px;
  height: 30px;
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #B2DFFC;
}

.forgotPass {
  font-size: 14px;
  color: #385185;
}

.textNoAcc {
  font-family: Arial;
  font-size: 15px;
}

.toRegText {
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  color: #0095F6;
}

.error {
  color: red;
}


/* Profile */
.profile {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
}

.blockInfo {
  margin-left: 100px;
}

.avatarka {
  border: 1px solid black;
  border-radius: 100%;
}

.profile-username {
  font-size: 26px;
  font-family: Arial;
  float: left;
}

.profile-name {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}

.profile-bio {
  font-family: Arial;
  width: 95%;
}

.to-edit-profile {
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  padding: 5px;
  margin-left: 20px;
}

.hr {
  border: 1px solid #DBDBDB;
}


/* Edit Profile */
.block-edit-profile {
  display: flex;
  justify-content: center;
}

.form-edit-profile {
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  background-color: white;
  margin-top: 25px;
  padding: 100px;
}

.image-edit-profile {
  width: 48px;
  height: 48px;
  border: 1px solid #DBDBDB;
  border-radius: 100%;
}

.input__file {
   display: none;
}

.input__file-button-text {
  font-family: Arial;
  font-weight: bold;
  color: #0d6efd;
  font-size: 14px;
  cursor: pointer;
  white-space: normal;
}

.username-text {
  font-family: Arial;
  font-size: 20px;
}

.block-texts-username {
  display: flex;
  align-items: center;
}

.block-form {
  display: flex;
  flex-direction: column;
}

.block-username {
  margin-left: 30px;
}

.label-profile {
  font-family: Arial;
  font-weight: bold;
  color: #212529;
  margin-bottom: 5px;
}

.input-edit {
  margin-bottom: 25px;
  width: 340px;
  height: 30px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  padding-left: 10px;
  font-family: Arial;
  font-size: 16px;
}

.bio {
  margin-bottom: 25px;
  width: 340px;
  height: 50px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  padding-left: 10px;
  font-family: Arial;
  font-size: 16px;
  resize: vertical;
}

.personal-info-text {
  font-family: Arial;
  font-weight: bold;
  color: #6c757d;
}

.personal-info-text-mini {
  color: #6c757d;
  font-size: 14px;
  font-family: Arial;
  width: 340px;
  margin-bottom: 10px;
}

.btnEdit {
  font-weight: bold;
  font-family: Arial;
  font-size: 16px;
  background: #0d6efd;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}
