body {
  margin: auto;
}

.head {
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #DBDBDB;
  border-top: none;
  border-right: none;
  border-left: none;
}
 
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.all-objects {
  margin-top: 80px;
}

.DIO {
  font-family: cursive;
  font-size: 35px;
  font-weight: bolder;
}

.schInput {
  font-size: 16px;
  padding: 10px;
  border: none;
  outline: none;
  background: #EFEFEF;
  border-radius: 5px;
  width: 300px;
}

.icons {
  width: 32px;
  height: 32px;
  color: black;
  margin-left: 15px;
  cursor: pointer;
  object-fit: cover;
}

.hr {
  border: 1px solid #DBDBDB;
}

a {
  text-decoration: none;
  color: black;
}

/* MAIN */

.imgicon {
  border: 1px solid black;
  border-radius: 100%;
  object-fit: cover;
}

.videoicon {
  position: absolute;
}

.borderAddPost {
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
  width: 350px;
}

.blockAddPost {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blockEditPost {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Plus {
  width: 64px;
  height: 64px;
}

.forFile {
  text-align: center;
  width: 100%;
  font-family: cursive;
}

.AddPictureBtn {
  color: white;
  background-color: #0095F6;
  padding: 10px;
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.disappear {
  display: none;
}

.textWithUnderline {
  border: 1px solid #808080;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.blur {
  filter: blur(5px);
}

.cancel {
  color: white;
  background-color: #DC3545;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  outline: none;
}

.btnCloseComments { 
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formAddPost {
  text-align: center;
}

.block-texts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 250px;
  height: 100px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: Arial;
  font-size: 16px;
  resize: vertical;
  background: #FAFAFA;
}

.main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow_users {
  background: white;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 601px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}

.btnAccess {
  border: none;
  border-radius: 4px;
  width: 70px;
  height: 30px; 
  margin-left: 10px;
}

.follow_posts {
  background: #FAFAFA;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.block_list_users {
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin-left: 25px;
}

.home_posts {
  background: white;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  margin-top: 15px;
  width: 601px;
}

.video_post {
  width: 100%;
}

.imagePost {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.padding10 {
  padding: 10px;
}

.username-text-post {
  margin-left: 10px;
  font-weight: bold;
}

.space10px {
  margin-left: 10px;
}

.block-icons-post {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.datetime {
  color: gray;
  font-size: 14px;
  margin-left: 10px;
}


/* Comments */

.block-comments-list {
  position: fixed;
  background-color: white;
  color: black;
  z-index: 1;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 4px;
  opacity: 1;
  overflow: auto;
}

.margin-left4 {
  margin-left: 4%;
  font-size: 15px;
}
 
.form_comment {
  display: flex;
  position: relative;
  width: 100%;
  border: 1px solid #DBDBDB;
  border-left: none;
  border-right: none;
  border-top: none;
}

.input_comment {
  border: none;
  outline: none;
  padding: 15px;
  font-size: 15px;
  width: 100%;
}

.postComment {
  border: none;
  outline: none;
  color: #007BFF;
  font-size: 15px;
  padding: 15px;
  background: white;
  font-weight: bold;
}

.block-comments-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: auto;
}

.block-comments-profile {
  display: flex;
}

.block-comments {
  display: flex;
  flex-direction: column;
}

.commentText {
  font-size: 15px;
  margin-left: 10px;
}

.close-overflow {
  overflow: hidden;
}

.PostDescription {
  font-family: Arial;
  font-size: 15px;
  margin-top: -5px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.postBgColor {
  background: #000;
}

.text-on-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.closedProfileText {
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
}

.counterLikes {
  font-family: Arial;
  font-size: 15px;
  padding-left: 10px;
}

.marginleft25px {
  margin-left: 25px;
}

.margintop15px {
  margin-top: 15px;
}

.block-to-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.threedots {
  margin-right: 10px;
  cursor: pointer;
}

.block-notification-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.block-username-notification {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.not_post {
  width: 36px;
  height: 36px;
  object-fit: cover; 
}

.notification-post {
  order: 999;
  margin-left: auto;
}

.not_padding {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.block-search-users {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 510px;
  height: 320px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  overflow-y: auto;
  margin-top: -20px;
}